$main_color: rgba(245,158,11);;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, $main_color 50%, white 50%);

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form {
    margin-top: 20px;
}

.error-span {
    display:block;
    height:1em;
}

.input-mod {
    padding: 0.5rem;
    border: 1px solid transparent;
}